@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Chakra Petch', sans-serif;
}
:root{
    --head-color:rgb(103,47,142);
    --h-font:45px;
    --h2-font:35px;
    --p-font:25px;
    --alt-color: rgba(248,189,27,192);
    --nav-font:25px;
}
html{
    scroll-padding-top: 90px;
    overflow-x: hidden;
    
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.headers{
    position: sticky;
    top: 0;
    height: 90px;
    width: 100%;
    z-index: 1;
    background-color: var(--head-color);
}
.navbar .logo{
    position: relative;
    display: flex;
    gap: 20px;
}
.logo img{
    position: relative;
    height: 70px;
    width: 60px;
    top: 8px;
    left: 30px;
}
.logo h1{
    position: relative;
    top: 14px;
    left: 20px;
    font-size: var(--h-font);
    color: rgba(248,189,27,192);
}
.navbar ul{
    position: relative;
    display: flex;
    height: 40px;
    width: 35%;
    bottom: 40px;
    left: 60%;
    gap: 30px;
    font-size: var(--nav-font);
}
.navbar a{
    color: rgba(248,189,27,192);
    font-weight: bold;
}
/* home */
.Homecontainer{
    background-image: url(images/slider-bg.jpg);
    min-height: 42rem;
    background-size: cover;
}
.homesection{
    position: relative;
    height: 400px;
    width: 500px;
    top: 150px;
    left: 65%;
}
.homesection h2{
    position: relative;
    font-size: var(--h2-font);
    color: var(--alt-color);
}
.homesection h1{
    position: relative;
    top: 10px;
    color: rgb(255, 255, 255);
    font-size: var(--h-font);
}
.homesection p{
    position: relative;
    top: 10px;
    font-size: var(--p-font);
    color: rgb(255, 255, 255);
}
.c1{
    position: relative;
    top: 20px;
    padding: 12px;
    background-color: rgba(248,189,27,192);
}
.c2{
    position: relative;
    top: 20px;
    left: 15px;
    padding: 12px;
}
/* about */
.aboutcontainer{
    min-height: 42rem;
    background-color: transparent;
}
.aboutsection{
    height: 42rem;
    width: 100%;
}
.aboutsection h1{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: var(--h-font);
}
.rid{
    position: relative;
    height: 10px;
    width: 5%;
    top: 20px;
    left: 47.5%;
    border-radius: 10px;
    background-color: rgba(248,189,27,192);
}
.aboutsection img{
    position: relative;
    height: 45%;
    width: 30%;
    top: 50px;
    left: 35%;
}
.aboutsection p{
    position: relative;
    top: 50px;
    left: 150px;
    text-align: center;
    width: 80%;
    font-size: var(--p-font);
}
.c3{
    position: relative;
    top: 90px;
    left: 47%;
    padding: 12px;
    text-align: center;
    background-color: rgba(248,189,27,192);
}

/* services */
.Servicescontainer{
    min-height: 72rem;
    background-color: transparent;
}
.servicesection{
   
    height: 72rem;
    width: 100%;
}
.servicesection h1{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: var(--h-font);
}
.ted{
    position: relative;
    height: 10px;
    width: 5%;
    top: 20px;
    left: 47.5%;
    border-radius: 10px;
    background-color: rgba(248,189,27,192);
}
.card{
    position: relative;
    display: flex;
    top: 40px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card2{
    position: relative;
    display: flex;
    top: 50px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card3{
    position: relative;
    display: flex;
    top: 60px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* choose */
.choosecontainer{
    position: relative;
    top: 50px;
    min-height: 42rem;
    background-color: var(--head-color);
}
.choosesection h1{
    position: relative;
    top: 40px;
    text-align: center;
    font-size: var(--h-font);
}
.tue{
    position: relative;
    height: 10px;
    width: 5%;
    top: 40px;
    left: 47.5%;
    border-radius: 10px;
    background-color: rgba(248,189,27,192);
}
.cord{
    position: relative;
    display: flex;
    height: 400px;
    width: 100%;
    top: 100px;
    gap: 5%;
}
.rov1{
    position: relative;
    width: 20%;
    height: 400px;
    left: 2.5%;
}
.rov1 img{
    height: 100px;
    width: 100px;
    position: relative;
    top: 20px;
    left: 30%;
}
.rov1 h2{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: var(--h2-font);
    font-weight: bolder;
}
.rov1 p{
    position: relative;
    top: 30px;
    text-align: center;
    font-size: var(--p-font);
}
.rov2{
    position: relative;
    width: 20%;
    height: 400px;
    left: 2.5%;
}
.rov2 img{
    height: 100px;
    width: 100px;
    position: relative;
    top: 20px;
    left: 30%;
}
.rov2 h2{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: var(--h2-font);
    font-weight: bolder;
}
.rov2 p{
    position: relative;
    top: 30px;
    text-align: center;
    font-size: var(--p-font);
}
.rov3{
    position: relative;
    width: 20%;
    height: 400px;
    left: 2.5%;
}
.rov3 img{
    height: 100px;
    width: 100px;
    position: relative;
    top: 20px;
    left: 30%;
}
.rov3 h2{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: var(--h2-font);
    font-weight: bolder;
}
.rov3 p{
    position: relative;
    top: 30px;
    text-align: center;
    font-size: var(--p-font);
}
.rov4{
    position: relative;
    width: 20%;
    height: 400px;
    left: 2.5%;
}
.rov4 img{
    height: 100px;
    width: 100px;
    position: relative;
    top: 20px;
    left: 30%;
}
.rov4 h2{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: var(--h2-font);
    font-weight: bolder;
}
.rov4 p{
    position: relative;
    top: 30px;
    text-align: center;
    font-size: var(--p-font);
}
/* review */
.reviewcontainer{
    position: relative;
    min-height: 42rem;
    background-color: var(--head-color);
}
.reviewsection h1{
    position: relative;
    top: 40px;
    text-align: center;
    font-size: var(--h-font);
}
.tie{
    position: relative;
    height: 10px;
    width: 5%;
    top: 40px;
    left: 47.5%;
    border-radius: 10px;
    background-color: rgba(248,189,27,192);
}
.carousel{
    position: absolute;
    height: 400px;
    width: 50%;
    left: 25%;
    top: 150px;
    
}
.carousel img{
    position: relative;
    left: 38%;
    top: 20px;
}
.carousel h2{
    position: relative;
    top: 20px;
    font-size: var(--h2-font);
    text-align: center;

}
.carousel p{
    position: relative;
    top: 30px;
    font-size: var(--p-font);
    text-align: center;
}
/* contact */
.Contactcontainer{
    min-height: 42rem;
    background-color: transparent;
}

.contactsection h1{
    position: relative;
    top: 40px;
    text-align: center;
    font-size: var(--h-font);
}
.vue{
    position: relative;
    height: 10px;
    width: 5%;
    top: 40px;
    left: 47.5%;
    border-radius: 10px;
    background-color: rgba(248,189,27,192);
}
.join{
    display: flex;
}
form{
    position: relative;
    height: 460px;
    width: 540px;
    top: 70px;
    left: 150px;
    background-color: rgba(248,189,27,192);
    border-top-left-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 20px;
}
form input{
    position: relative;
    display: block;
    height: 50px;
    width: 90%;
    left: 5%;
    top: 20px;
    margin-top: 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
input::placeholder{
    text-align: center;
}
.btn{
    position: relative;
    padding: 13px;
    top: 70px;
    left: 40%;
    color: rgba(248,189,27,192);
    background-color: var(--head-color);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.cole{
    position: relative;
    height: 370px;
    width: 500px;
    top: 70px;
    left: 20%;
}
.cole img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 20px;
}
/* footer */
.footcontainer{
    position: relative;
    background-color: var(--head-color);
    min-height: 42rem;
}
.t1 h1{
    text-align: center;
    font-size: var(--h-font);
}
.t1 .rew{
    position: relative;
    left: 17%;
    width: 60%;
    height: 50px;
}
.rew::placeholder{
    font-size: 20px;
    text-align: center;
}
.t1 .ret{
    position: relative;
    left: 18%;
    padding: 13px;
    color: white;
    border: 3px solid black;
}
.ret:hover{
    background-color: var(--alt-color);
    transition: 2s;
}
.flexi{
    display: flex;
}
.t2{
    position: relative;
    height: 370px;
    width: 300px;
    top: 50px;
    left: 30px;
}
.t2 h2{
    font-size: var(--h2-font);
    color: var(--alt-color);
    text-align: center;
}
.t2 p{
    position: relative;
    top: 15px;
    width: 300px;
    font-size: var(--p-font);
    text-align: center;
}
.t3{
    position: relative;
    height: 370px;
    width: 300px;
    top: 50px;
    left: 100px;
    
}
.t3 h2{
    font-size: var(--h2-font);
    color: var(--alt-color);
    text-align: center;
}
.t3 h4{
    font-size: var(--p-font);
    margin-top: 15px;
    text-align: center;
}
.t4{
    position: relative;
    height: 370px;
    width: 300px;
    top: 50px;
    left: 150px;
    
}
.t4 h2{
    font-size: var(--h2-font);
    color: var(--alt-color);
    text-align: center;
}
.t4 h4{
    font-size: var(--p-font);
    margin-top: 15px;
    text-align: center;
}
.t5{
    position: relative;
    height: 370px;
    width: 300px;
    top: 50px;
    left: 250px;
    
}
.t5 h2{
    font-size: var(--h2-font);
    color: var(--alt-color);
    text-align: center;
}
.t5 h4{
    position: relative;
    left: 40px;
    font-size: var(--p-font);
    margin-top: 15px;

}
.t5 img{
    height: 20px;
    width: 20px;
}
.t6 img{
    position: relative;
    left: 40px;
    top: 15px;
    height: 30px;
    width: 35px;
}
.texter{
    position: relative;
    height: 120px;
    width: 100%;
    top: 50px;
}
hr{
    position: relative;
    width: 90%;
    left: 5%;
}
.fed{
    position: relative;
    top: 40px;
    text-align: center;
}
/* toggle */
.checkbtn {
    color: #e3f706;
    font-size: 25px;
    margin-right: 20px;
    padding: 5px 7px 1px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
@media only screen and (min-width:200px) and (max-width:767px){
    .headers{
        width: 100%;
    }
    .navbar ul{
        display: none;
    }
    .logo img{
        position: relative;
        height: 50px;
        width: 50px;
        top: 20px;
    }
    .logo h1{
        position: relative;
        top: 25px;
        font-size: 30px;
    }
    .navbar ul li{
        position: relative;
        background-color: var(--head-color);
        width: 24rem;
        height: 50px;
        right: 17rem;
        top: 70px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .navbar ul li a{
        position: relative;
        left: 3.5rem;
    }
    .navbar ul li{
        border-bottom: 2px solid yellow;
        display: block;
    }
    .checkbtn {
        position: absolute;
        display: block;
        width: 8%;
        left: 85%;
        bottom: 30px;
    }
    #check:checked ~ ul{
        display: inline-block;
    }
    /* home */
    .Homecontainer{
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 13rem;
    }
    .homesection{
        position: relative;
        top: 40px;
        left: 230px;
        height: 100px;
        width: 150px;
        
    }
    .homesection h2{
        position: absolute;
        top: 0px;
        font-size: 15px;
    }
    .homesection h1{
        position: absolute;
        top: 20px;
        font-size: 12px;
    }
    .homesection p{
        position: absolute;
        top: 40px;
        width: 100%;
        font-size: 6px;
    }
    .c1{
        position: absolute;
        top: 75px;
        padding: 7px;
        font-size: 7px;
    }
    .c2{
        position: absolute;
        top: 75px;
        left: 65px;
        padding: 7px;
        font-size: 7px;
    }
    /* about */
    .Aboutcontainer{
        height: 30rem;
    }
    .aboutsection h1{
        position: relative;
        bottom: 200px;
        font-size: 30px;
    }
    .aboutsection img{
        position: relative;
        height: 100px;
    }
    .aboutsection p{
        position: relative;
        left: 40px;
        top: 60px;
        font-size: 15px;
    }
    .c3{
        position: relative;
        left: 140px;
    }
    /* services */
    .Servicescontainer{
        height: 103rem;
    }
    .servicesection h1{
        font-size: 30px;
    }
    .card{
        display: block;
    }
    .card img{
        position: relative;
        padding: 1rem;
        width: 100%;
    }
    .card h2{
        text-align: center;
    }
    .card2{
        display: block;
    }
    .card2 img{
        position: relative;
        padding: 1rem;
        width: 100%;
    }
    .card2 h2{
        text-align: center;
    }
    .card3{
        display: block;
    }
    .card3 img{
        position: relative;
        padding: 1rem;
        width: 100%;
    }
    .card3 h2{
        text-align: center;
    }
    /* choose */
    .choosecontainer{
        height: 60rem;
    }
    .choosesection h1{
        font-size: 30px;
    }
    .cord{
        position: relative;
        display: block;
    }
    .rov1{
        position: relative;
        height: 100px;
        width: 100%;
        bottom: 70px;
        left: 10px;
        padding: 1rem;
    }
    .rov1 img{
        position: relative;
        height: 70px;
        width: 70px;
        left: 120px;
    }
    .rov1 h2{
        position: relative;
        right: 10px;
        font-size: 25px;
    }
    .rov1 p{
        position: relative;
        font-size: 20px;
        right: 10px;
        text-align: center;
    }
    .rov2{
        position: relative;
        height: 100px;
        width: 100%;
        top: 30px;
        left: 10px;
        padding: 1rem;
    }
    .rov2 img{
        position: relative;
        height: 70px;
        width: 70px;
        left: 120px;
    }
    .rov2 h2{
        position: relative;
        font-size: 25px;
        right: 10px;
    }
    .rov2 p{
        position: relative;
        right: 10px;
        font-size: 20px;
        text-align: center;
    }
    .rov3{
        position: relative;
        height: 100px;
        width: 100%;
        top: 130px;
        left: 10px;
        padding: 1rem;
    }
    .rov3 img{
        position: relative;
        height: 70px;
        width: 70px;
        left: 120px;
    }
    .rov3 h2{
        position: relative;
        right: 10px;
        font-size: 25px;
    }
    .rov3 p{
        position: relative;
        right: 10px;
        font-size: 20px;
        text-align: center;
    }
    .rov4{
        position: relative;
        height: 100px;
        width: 100%;
        top: 250px;
        left: 10px;
        padding: 1rem;
    }
    .rov4 h2{
        position: relative;
        font-size: 25px;
        right: 10px;
    }
    .rov4 img{
        position: relative;
        left: 130px;
        height: 70px;
        width: 70px;
    }
    .rov4 p{
        position: relative;
        font-size: 20px;
        right: 10px;
        text-align: center;
    }
    /* reveiw */
    .reviewcontainer{
        height: 20rem;
    }
    .reviewsection h1{
        font-size: 30px;
    }
    .carousel{
        position: relative;
        left: 0;
        top: 50px;
        height: 200%;
        width: 100%;
    }
    .carousel h2{
        position: relative;
        top: 30px;
        font-size: 25px;
    }
    .carousel img{
        position: relative;
        left: 90px;
        bottom: 30px;
    }
    .carousel p{
        position: relative;
        top: 60px;
        width: 100%;
        padding: 1rem;
        font-size: 20px;
    }
    /* login */
    .Contactcontainer{
        height: 172vh;
    }
    .join{
        display: inline-block;
    }
    form{
        position: relative;
        width: 90%;
        top: 40px;
        left: 5%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    form input{
        position: relative;
        top: 70px;
    }
    .btn{
        position: relative;
        top: 110px;
    }
    .cole{
        position: relative;
        width: 90%;
        height: 30rem;
        top: 70px;
        left: 6%;
        
    }
    .cole img{
        height: 30rem;
        width: 100%;
    }
    /* contact */
    .footcontainer{
        height: 90rem;
    }
    .t1 h1{
        font-size: 30px;
    }
    .t1 .rew{
        position: relative;
        left: 10%;
        width: 80%;
        height: 50px;
    }
    .t1 .ret{
        position: relative;
        left: 130px;
        top: 20px;
        padding: 13px;
    }
    .flexi{
        display: block;
    }
    .t2 h2{
        position: relative;
        left: 10px;
        top: 20px;
        font-size: 25px;
    }
    .t2 p{
        position: relative;
        font-size: 20px;
        bottom: 100px;
        left: 10px;
        padding: 23px;
    }
    .t3{
        position: relative;
        height: 350px;
        width: 100%;
        left: 0px;
        top: -40px;
    }
    .t3 h2{
        font-size: 25px;
    }
    .t3 h4{
        font-size: 20px;
    }
    .t4{
        position: relative;
        top: -80px;
        left: 40px;
    }
    .t4 h2{
        font-size: 25px;
    }
    .t4 h4{
        font-size: 20px;
    }
    .t5{
        position: relative;
        top: -130px;
        left: 40px;
    }
    .t5 h2{
        font-size: 25px;
    }
    .t5 h4{
        position: relative;
        left: 60px;
        font-size: 20px;
    }
    .t6 img{
        position: relative;
        display: inline-block;
        flex-direction: column;
        left: 60px;
    }
    .texter{
        position: relative;
        top: -250px;
    }
    
    

}